p {
    color: red;
}

a {
    color: blue;
}

body {
    font-size: 14px;
    color: navy;
    font-family: helvetica;
}

title {
    border: 1;
    color = gray;
}

h1 {
    color: #ffc;
    background-color: #009;
}
